header {width: 1440px;
    height: 30px;
    padding-top: 25px;
    background-color:rgba(0, 0, 0, 0.247);
    justify-content: space-between;
    margin: 0, 0 0 0;
    text-align: center;

}  
img{
    width: 200px;
height: 100px;
top: 180px;
left: 598px;


}