body{
    background-color:rgb(255, 219, 219)
}

/* class selector */
.name{
    text-align: center;
    width: 220px;
    background-color:deepskyblue;
}
.enjoy{
    text-align: center;
    width: 220px;
    background-color:rgb(235, 16, 125);
    
}

.sem{
    text-align: center;
width: 240px;
background-color:red;
}
.date{
    text-align: center;
width: 230px;
height: 30px;
background-color:gold;

}
.p1{
    text-align: center;
    width: 220px;
    height: 100px;
    color:azure;
    background-color: black;
}
