body{
    background-color:rgb(250, 177, 177)
}

/* id selector */
#name{
    text-align: center;
    width: 220px;
    background-color:deepskyblue;
}
#enjoy{
    text-align: center;
    width: 220px;
    background-color:hotpink;
    color:red;
}
#sem{
    text-align: center;
width: 220px;
background-color:gold;
}
#sea{
    text-align: center;
width: 240px;
background-color:sandybrown;
}
#date{
    text-align: center;
width: 230px;
height: 30px;
background-color:orangered;
color:white;
}
#p1{
    text-align: center;
    width: 220px;
    height: 100px;
    color:azure;
    background-color: black;
}
#p2{
    text-align: center;
    width: 220px;
    height: 100px;
    color:azure;
    background-color:blue;
}

