body{
   background-color: black; 
}
Header{
    background-color: #9a9aa0;
background-image: linear-gradient(43deg, #3f3f4d 0%, #1a191a 46%, #5a5252 100%);
color:aliceblue;
width: 1440px;
    height: 30px;
    padding-top: 15px;
    
    margin: 0, 0 0 0;
    text-align: center;
    font-size: large;
    font-weight: normal; 
    word-spacing: 270px;  
}  
img{
    width: 150px;
height: 150px;
border-radius: 50%;
margin-top: 40px;
margin-left: 580px;
}
h1{
    color:  white;
    font-family: 'Franklin Gothic Medium'; 
    text-align: center;  
    margin-top: 30px;


}
p{
    color:white;
    text-align: center;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
     
}
button{
    background-color:white;
    width: 120px;
    height: 40px;
    border-radius: 30px;
   margin-top: 30px;
   margin: 0 5px;
   font-size: normal;
   font-weight: normal; 
}

h4{
    color:#9a9aa0;
    text-align: center;
    font-size: large;
    font-weight: normal; 
}