/* id selector */
#sem{
    text-align: center;
width: 220px;
background-color:gold;
}
#sea{
    text-align: center;
width: 240px;
background-color:sandybrown;
}
#date{
    text-align: center;
width: 230px;
height: 50px;
background-color:black;
color:white;
}
