/* element selector */
h1{
    text-align: center;
width: 220px;
background-color:gold;

}
h2{
    text-align: center;
    width: 220px;
    background-color: orange;
}
p{
    text-align: center;
    width: 220px;
    background-color: rgb(241, 207, 12); 
}