body{  
    background-image: linear-gradient(43deg, #04041b 25%, #000000 46%, #04041b 100%);
}
@media (max-width: 768px){

header {
   max-width: 768px;
    background-color: #9a9aa0;
    background-image: linear-gradient( #0f0c29, #302b63,  #24243e);
    height: 30px;
   padding-top: 10px;
    text-align: center;
    word-spacing: 120px !important;  
   
}
}
header {
    display: flex;
    justify-content: center;         /* Centers horizontally */
    align-items: center; 
    background-color: #9a9aa0;
    background-image: linear-gradient( #0f0c29, #302b63,  #24243e);
    height: 30px;
   padding-top: 10px;
    text-align: center;
    word-spacing: 250px;  
   
}


.anchor{
    color: white;
    font-size: large;
    
}

.avatar {
    display: flex;
    justify-content: center;    /* Centers horizontally */
    align-items: center;       /* Centers  vertically */
}
#Profile{
    width: 180px;
height: 180px;
border-radius: 50%;
margin-top: 40px;

}
h1{
    color:whitesmoke;
    text-align: center;  
    margin-top: 40px;
}
#ab-it{
    font-size: 30px;
    background: linear-gradient(43deg, #3622b6 0%, #f10551 46%, #f1f102 100%);  /* The gradient color */
    -webkit-background-clip: text;       /* Clip the background to the text */
    background-clip: text;              /* For non-WebKit browsers */
    color: transparent;                 /* Make the text color transparent */ 
}
p{
    color:white;
    text-align: center;
    margin-top: 40px;
}
.button-container {
    display: flex;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
     
}
button{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    margin: 40px 10px;
   font-size: normal;
   font-weight: normal;
   color: whitesmoke;
   background: linear-gradient( #0f2027, #203a43, #2c5364); /* New gradient on hover */
  }
  button:hover {
    background-image: linear-gradient(rgb(53, 3, 77),#3e00e9);
    box-shadow: background-image: linear-gradient(#0f0c29, #302b63,  #24243e ) ;#3e00e9 0px 2px 0px 0px;
  }


h4{
    color:#9a9aa0;
    text-align: center;
    font-size: large;
    font-weight: normal; 
}

.log {
    display: flex;
    justify-content: center; /* Centers the items horizontally */
    align-items: center;     /* Centers the items vertically */
    
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin: 20px 8px;
}
 .logo:hover{
    background-image: linear-gradient(#0f0c29, #302b63,  #24243e ) ;
    
}
#pro{
text-align: center;
color: #eca012 ;
font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    background: linear-gradient( orange, gold ); /* The gradient color */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* For non-WebKit browsers */
    color: transparent; /* Make the text color transparent */
  }

  
#exp{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
    background: linear-gradient( rgb(0, 47, 255),#0093E9  ); /* The gradient color */
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text; /* For non-WebKit browsers */
    color: transparent; /* Make the text color transparent */
     font-family: 'Franklin Gothic Medium';   
}
.hjs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers  horizontally */
    align-items: center; /* Centers  vertically */
}
.photo{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 40px 30px;
    border:2px solid rgb(22, 2, 78);
}
.photo:hover{
    border:4px solid whitesmoke;
}

h3{
    text-align: center;
    color:aliceblue;
}
p{
    text-align: center;
    color:aliceblue;
}
.gam{
    height: 30px;
}

footer{
    margin-top: 40px;
    padding-top: 10px;
    text-align: center;
    height: 200px;
    color: lavender;
    background-image: linear-gradient(#0f0c29, #1e195a, #04041b 100%);
   
}
.icon{
    height: 35px;
    margin: 0 10px;
    
}