body{
   background-color: black; 
}
Header{
    background-color: #9a9aa0;
background-image: linear-gradient(43deg, #9a9aa0 0%, #1a191a 46%, #908080 100%);

width: 1440px;
    height: 30px;
    padding-top: 15px;
    justify-content: space-between;
    margin: 0, 0 0 0;
    text-align: center;
    font-size: large;
    font-weight: normal; 
    word-spacing: 200px;  
}  
img{
    width: 150px;
height: 150px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items:center;
}