body{
   background-color: black; 
}
Header{
width: 1440px;
    height: 30px;
    padding-top: 15px;
    background-color:rgba(148, 143, 143, 0.247);
    justify-content: space-between;
    margin: 0, 0 0 0;
    text-align: center;
    font-size: large;
    font-weight: normal; 

}  
img{
    width: 200px;
height: 200px;
border-radius: 50%;

}